@model VentaDeComputadoras.Models.DetallePedido

@{
    ViewData["Title"] = "Detalles del Pedido";
}

<div class="container mt-5">
    <h1 class="text-center">Detalles del Pedido</h1>

    <div>
        <h4>Detalle de Pedido</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.producto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.producto.NombreProducto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.pedido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.pedido.estadoPedido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cantidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cantidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.precio)
            </dd>
        </dl>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.idDetallePedido" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
