@model VentaDeComputadoras.Models.Pedido

@{
    ViewData["Title"] = "Eliminar Pedido";
}

<h1 class="text-center my-4">Eliminar Pedido</h1>

<h3 class="text-center text-danger">¿Estás seguro de que deseas eliminar este pedido?</h3>

<div class="card shadow p-4 my-4">
    <h4 class="card-title">Detalles del Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.descuento)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.descuento)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.estadoPedido)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.estadoPedido)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.fechaPedido)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.fechaPedido)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.totalPedido)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.totalPedido)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.cliente.apellido)
        </dd>
    </dl>

    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="idPedido" />
        <input type="submit" value="Eliminar" class="btn btn-danger me-2" />
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>

